<btn-group>

  <yield/>

  <script>
    /** SCOPE EMULATION **/
    updateCaller (f) {
      var keys = []
      if (this.parent._ownPropKeys) keys = this.parent._ownPropKeys
        else for (var k in this.parent) keys.push(k)
      for (var i = 0; i < keys.length; i++)
        if (this.parent[keys[i]] === f) {
          this.parent.update()
          return
        }
      if (this.parent && this.parent.updateCaller) this.parent.updateCaller(f)
    }
    initProperties () {
      this._ownPropKeys = []
      for (var k in this) if (this[k]) this._ownPropKeys[k] = true
    }
    loadParentProperties () {
      for (var k in this.parent)
        if (!this._ownPropKeys[k])
          this[k] = this.parent[k]
    }
    this.initProperties()
    this.on('update', this.loadParentProperties)
  </script>

  <style scoped>
    :scope {
      position: relative;
      display: inline-block;
      vertical-align: middle;
    }
    btn {
      position: relative;
      float: left;
    }
    btn + btn {
      margin-left: -1px;
    }
    btn[toggle]:not(:first-child) > * {
      padding-right: 8px;
      padding-left: 8px;
    }
    :scope > btn:hover,
    :scope > btn:focus,
    :scope > btn:active {
      z-index: 2;
    }
    :scope > btn:not(:first-child):not(:last-child):not([toggle]) > * {
      border-radius: 0;
    }
    :scope > btn:first-child {
      margin-left: 0;
    }
    :scope > btn:first-child:not(:last-child):not([toggle]) > * {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    :scope > btn:last-child:not(:first-child) > *,
    :scope > btn:not(:first-child)[toggle] > * {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  </style>

</btn-group>
