<calendar>

  <table>
    <thead>
      <tr>
        <th><btn onpush={ prev }>&laquo;</btn></th>
        <th colspan="5">{ title }</th>
        <th><btn onpush={ next }>&raquo;</btn></th>
      </tr>
    </thead>
    <tbody>
      <tr><th each={ day in weekdays }>{ day }</th></tr>
      <tr each={ week in calendar }>
        <td each={ week }><btn active={ selected } disabled={ !currentMonth } onpush={ push(daynum) }>{ daynum }</btn></td>
      </tr>
    </tbody>
  </table>

  <script>
    var self = this
    var selected = typeof opts.value == 'string' ? opts.value.split(',') : opts.value || []
    var i18n = {
      en: {
        monthFormat: '%M %Y',
        months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        weekdays: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa']
      },
      fr: {
        monthFormat: '%M %Y',
        months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
        weekdays: ['L', 'Ma', 'Me', 'J', 'V', 'S', 'D']
      },
      ja: {
        monthFormat: '%Y年%M月',
        months: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
        weekdays: ['日', '月', '火', '水', '木', '金', '土']
      },
      zh: {
        monthFormat: '%Y年%M月',
        months: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
        weekdays: ['一', '二', '三', '四', '五', '六', '日']
      }
    }
    var firstDate = selected[0] ? new Date(selected[0]) : new Date()

    self.lang = i18n[opts.lang] ? opts.lang : i18n[document.documentElement.lang] ? document.documentElement.lang : 'en'
    self.weekdays = i18n[self.lang].weekdays
    self.currentYear = firstDate.getFullYear()
    self.currentMonth = firstDate.getMonth()
    self.title = ''
    self.multi = false

    prev (e) {
      if (--self.currentMonth < 0) {
        self.currentMonth = 11
        self.currentYear--
      }
    }
    next (e) {
      if (11 < ++self.currentMonth) {
        self.currentMonth = 0
        self.currentYear++
      }
    }
    push (daynum) {
      return function(e) {
        var d = getDateString(self.currentYear, self.currentMonth, daynum)
        if (!self.multi) selected = [d]
        else if (!isSelected(d, true)) selected.push(d)
        var value = self.multi ? selected : selected[0]
        self.root.setAttribute('value', value)
        self.trigger('change', value)
        if (opts.onchange){
          opts.onchange(value)
          self.updateCaller(opts.onchange)
        }
        self.update()
      }
    }

    function getDayOf1st(y, m) {
      return new Date(y, m, 1).getDay()
    }
    function getNumOfDays(y, m) {
      return new Date(y, m + 1, 0).getDate()
    }
    function getDateString(y, m, d) {
      return y
        + '-' + (m < 9 ? '0' + (m + 1) : m + 1)
        + '-' + (d < 10 ? '0' + d : d)
    }
    function isSelected(d, deleteFlag) {
      for (var i = 0; i < selected.length; i++)
        if (selected[i] == d) {
          if (deleteFlag) selected.splice(i, 1)
          return true
        }
      return false
    }
    var z = 0

    self.on('update', function() {
      self.multi =
        opts.hasOwnProperty('multi') ? opts.multi === '' || opts.multi === 'multi' || opts.multi === true:
        false
      self.title = i18n[self.lang].monthFormat
        .replace('%M', i18n[self.lang].months[self.currentMonth])
        .replace('%Y', self.currentYear)

      var y = self.currentYear, m = self.currentMonth
      var d0 = getDayOf1st(y, m), dn = getNumOfDays(y, m)
      var numberOfRows = Math.ceil((d0 + dn) / 7)
      var d, w
      self.calendar = []
      for (var i = 0; i < numberOfRows; i++) {
        w = []
        for (var j = 0; j < 7; j++) {
          d = new Date(y, m, 7 * i + j + 1 - d0)
          w.push({
            daynum: d.getDate(),
            selected: isSelected(getDateString(d.getFullYear(), d.getMonth(), d.getDate())),
            currentMonth: d.getMonth() == m
          })
        }
        self.calendar.push(w)
      }
    })

    click (e) {
      var menu = self.parent
      if (menu.select) menu.select(self.multi ? selected : selected[0])
    }
    addEventListners (e) {
      self.root.addEventListener('touchstart', self.click, false)
      self.root.addEventListener('click', self.click, false)
    }
    removeEventListners (e) {
      self.root.removeEventListener('touchstart', self.click)
      self.root.removeEventListener('click', self.click)
    }

    self.one('mount', self.addEventListners)
    self.one('unmount', self.removeEventListners)
    self.mixin('parentScope')
  </script>

  <style scoped>
    :scope {
      display: inline-block;
      vertical-align: top;
      padding: 3px;
      text-align: center;
    }
    thead th {
      font-size: 90%;
    }
    tbody th {
      padding: 6px 0;
      font-size: 90%;
    }
    td {
      text-align: center;
      padding: 1px;
    }
    btn {
      width: 100%;
      display: block;
    }
    btn button {
      color: #333;
      display: block;
      width: 100%;
      border: none;
      padding: 4px 5px;
    }
    btn button:hover,
    btn button:focus {
      color: #000;
      text-decoration: none;
      background: #f7f7f7;
    }
    btn button:disabled {
      color: #bbb;
    }
    btn button[data-active="yes"] {
      box-shadow: none;
      background-color: #337ab7;
      color: white;
    }
  </style>

</calendar>
