<menu-item>
  <script>
    var menu = this.root.parentElement.tag

    click (e) {
      menu.select(opts.value || this.root.innerText)
    }
    addEventListners (e) {
      this.root.addEventListener('touchstart', this.click, false)
      this.root.addEventListener('click', this.click, false)
    }
    removeEventListners (e) {
      this.root.removeEventListener('touchstart', this.click)
      this.root.removeEventListener('click', this.click)
    }

    this.one('mount', this.addEventListners)
    this.one('unmount', this.removeEventListners)
  </script>

  <style>
    menu-item {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
      cursor: pointer;
    }
    menu-item:hover,
    menu-item:focus {
      color: #262626;
      text-decoration: none;
      background-color: #f5f5f5;
    }
  </style>
</menu-item>
