body {

}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

body > header {
  background: #333;
  color: white;
  padding: 2em;
}

body > article {
  padding: 1em 2em;
}

body > footer {
  margin-top: 2em;
  font-size: 90%;
  line-height: 1.4em;
  color: #999;
  padding: 2em;
}
